body{
    background-color: rgb(241, 226, 228);
    text-align: center;
}

h1{
   color: #d17373;
   font-size: 100px;
}
img{
    height: 500px;
    border-radius: 50px;
}

p{
    width: 90%
    margin: auto;     
}